{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cafe.css' %}">
{% endblock %}

{% block content %}
  <div class="cafes-container">
    {% for cafe in cafes %}
      <a href="{% url 'cafe_menu_by_id' cafe_id=cafe.id %}" class="cafe-card">
        <img src="{{ cafe.logo.url }}" alt="{{ cafe.name }}" class="cafe-logo">
        <div class="cafe-info">
          <div class="cafe-name">{{ cafe.name }}</div>
          <div class="cafe-address">{{ cafe.address }}</div>
          <div class="cafe-contact">{{ cafe.contact }}</div>
        </div>
        {% if cafe.qr %}
          <img src="{{ cafe.qr.url }}" alt="QR code for {{ cafe.name }}" class="cafe-qr">
        {% endif %}
      </a>
    {% endfor %}
  </div>
{% endblock %}
