{% extends 'base.html' %}

{% block content %}
    <div class="container index-container">
        <h1 class="text-center">Welcome to QR Cafe Connect</h1>
        <p>
            QR Cafe Connect is a comprehensive platform designed to help cafes showcase their menus digitally and connect with customers seamlessly. Our project aims to simplify the ordering process by providing an easy-to-use interface for browsing menus, placing orders, and making payments online. Whether you are a small local cafe or a large chain, QR Cafe Connect offers a customizable solution to enhance your customer experience and streamline your operations.
        </p>
        <section id="contact-us">
            <h2>Contact Us to Add Your Cafe</h2>
            <p>If you own a cafe and would like to join QR Cafe Connect, please reach out to us using the contact options below or fill out the form to get started.</p>
            <ul>
                <li>Email: <a href="mailto:supremegiri505@gmail.com">supremegiri505@gmail.com</a></li>
                <li>Phone: +977-9876543210</li>
            </ul>
            <form action="mailto:supremegiri505@gmail.com" method="post" enctype="text/plain">
                <label for="cafe-name">Cafe Name:</label><br>
                <input type="text" id="cafe-name" name="cafe-name" required><br><br>
                <label for="contact-person">Contact Person:</label><br>
                <input type="text" id="contact-person" name="contact-person" required><br><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br><br>
                <label for="phone">Phone Number:</label><br>
                <input type="tel" id="phone" name="phone"><br><br>
                <label for="message">Message:</label><br>
                <textarea id="message" name="message" rows="4"></textarea><br><br>
                <center><input type="submit" value="Submit"></center>
            </form>
        </section>

    
    </div>
{% endblock %}
